<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="container bg-light rounded p-5 shadow-sm">
        <div class="row my-5">
            <div class="col-md-12">
                <h1 class="text-center display-1">Prueba técnica</h1>
                <h3 class="text-center text-muted">MetGroup</h3>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 text-center">
                <a routerLink="/ejercicios" class="btn btn-primary">Ejercicios Lógica</a>
            </div>
            <div class="col-md-6 text-center">
                <a routerLink="/tiendas" class="btn btn-primary">TiendasAPP</a>
            </div>
        </div>
    </div>
</div>